*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #88ffb0;
}

/* Cabeçalho */

header{
    width: 100%;
    background-color: #181818;
    font-size: x-large;
    height: 130px;
    color: #6bca8b;
    margin-bottom: 30px;
}

.logo{
    height: 120px;
    margin-top: 4px;
    margin-left: 15px;
}

/* navbar (navegação/menu/opções ) */

.navbar{
    width: 100%;
    background-color: #2b2b2b;
    padding: 10px 0px 10px 0px;
}

.menu{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    list-style-type: none;
}

.menu li {
    margin: 0px 20px 0 0;
}

.menu li a{
    text-decoration: none;
    color: #6bca8b;
}

.menu li:hover{
    text-shadow: 0 0 5px #ffffffd3;
    text-decoration: underline;
}

/* bio (Quem sou?) */

.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio img {
    max-width: 100%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #747a78;
    margin-top: 40px;
}

.bio div {
    background-color: #ffffff;
    font-size: 1.2em;
    padding: 30px;
    margin-top: 15px;
    border-radius: 5%;
    max-width: 530px;
    width: 100%;
    box-shadow: 3px 3px 3px #9b9b9b;
}

/* mini cards de skills (habilidades) */

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-size: larger;
}

.skills div {
    max-width: 720px;
    width: 100%;
}

.skills div ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none; 
}

.skills div ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
    background-color: #242423;
    color: #b5e7c7;
    text-shadow: 0 0 5px #ffffffd3;
    font-size: 1.2em;
    border-radius: 5%;
}

.skills div ul li img {
    height: 130px;
    width: 115px;
    margin-top: 10px;
}

.skills ul li img:hover{
    height: 160px;
    width: 145px;
}

.skills div ul li:hover {
    box-shadow: 3px 3px 3px #353533;
}

/* mini card CV */

.cv {
    text-align: center;
    font-size: 1.2em;
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    padding-top: 35px;
    border-radius: 5%;
    box-shadow: 3px 3px 3px #9b9b9b;
}

.cv a{
    text-decoration: none;
    color: #6bca8b;
    font-size: 30px;   
}

.cv a:hover{
    font-size: xx-large;
    text-decoration: underline;
}

/* Projetos (atividades) */

h2, p, img {
    margin-top: 15px;
}

.projetos{
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
}

.projetos div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projetos div .card {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin: 20px;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 3px 3px 3px #9b9b9b;
    border-radius: 4%;
    max-width: 300px;
    width: 100%;
} 

.projetos div .card img {
    width: 200px;
    height: 200px;
}

.button-git{
    font-size: 0.9em;
    border-radius: 9px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    color:#ffffff;
    background-color:#000000;
    border: none;
    cursor: pointer;
}

.button-git a {
    text-decoration: none;
    color: #ffffff;
}

.button-git:hover{
    background-color: #56c77d;
    transition: 0.5s;
}

/* Rodape (links) */

footer {
    width: 100%;
    background-color: #181818;
    height: 120px;
}

footer h2 {
    text-align: center;
    color: #6bca8b;
    margin-top: 0px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

footer ul li {
    margin: 10px;
}

footer ul li img {
    height: 50px;
    width: 50px;
}

footer ul li img {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

.esfera{
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.esfera:hover{
    box-shadow: 0 0 10px .25rem #88ffb0;
}

/* Media query */

@media (max-width: 549px){
     .bio div{
        max-width: 80%;
    } 

    .navbar{
        font-size: medium;

    }
}

@media (max-width:362px) {
    .navbar{
        font-size: small;
    }
}

@media (max-width:328px) {
    .logo{
        max-width: 300px;
        width: 100%;
    }
}