@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* 
    definir tamanho max pra header, main e footer (1200px)
    centralizar esses elementos no body
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  position: fixed;
  width: 100vw;
  height: 130px;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 6;
}

.logo {
  width: 110px;
  height: 100px;
}

.menu-mobile {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 70vw;
  display: none;
}

.nav-mobile {
  text-align: right;
  background-color: #000000;
  height: 100vh;
}

.nav-mobile ul {
  list-style: none;
}

.nav-mobile ul li a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 300;
  padding: 20px 4%;
  display: block;
}

.nav-mobile ul li a:hover {
  background-color: #00ff77;
  color: #000000;
  font-weight: 600;
}

.menu-mobile .btn-fechar {
  padding: 10px 4%;
  background-color: #000;
}

.menu-mobile .btn-fechar img,
.btn-abrir img {
  width: 40px;
  cursor: pointer;
}

.nav-desktop ul {
  display: flex;
  gap: 10px;
}

.nav-desktop ul li a {
  color: #a7a7a7ce;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav-desktop ul li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: #00ff77;
  position: absolute;
  top: 17px;
  left: 0;
  transition: 0.5s;
}

.nav-desktop ul li a:hover::after {
  width: 100%;
}

.nav-desktop ul li a:hover {
  color: #fff;
}

button {
  background-color: #00ff77;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.overlay-menu {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
}

@media screen and (max-width: 795px) {
  #link-contato,
  .nav-desktop {
    display: none;
  }
}

@media screen and (min-width: 796px) {
  .btn-abrir,
  .menu-mobile,
  .nav-mobile,
  .btn-fechar,
  .overlay-menu {
    display: none;
  }
}

.introducao {
    margin-top: 130px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.introducao{
    background-color: #00833d3d;
    padding: 10px;
}

.introducao .moldura {
  height: 300px;
  width: 300px;
  margin: 15px 0;
  animation: float 3s ease-in-out infinite;
}

.introducao .moldura img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(-3px -3px 5px #00ff77) drop-shadow(3px 3px 5px #00ff77)
    contrast(120%) saturate(110%);
}

.introducao h1,
.sobre h1 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: Inter, helvetica, sans-serif;
  width: 90vw;
  max-width: 500px;
  line-height: 20px;
}

.introducao h1 span {
  color: #00ff77;
  font-weight: 900;
  font-size: 25px;
}

.introducao p,
.sobre p {
  margin-top: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  width: 90vw;
  max-width: 500px;
  font-family: Inter, helvetica, sans-serif;
  text-align: justify;
}

.sobre {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sobre .moldura {
  width: 250px;
  margin-top: 10px;
}

.sobre .moldura img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sobre h1 {
  display: flex;
  flex-direction: column;
}

.sobre h1 span {
  color: #00ff77;
}

@media screen and (min-width: 800px) {
  .introducao {
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    justify-content: center;
  }

  .sobre {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .sobre .moldura {
    width: 300px;
  }
}

.ferramentas{
    margin-top: 10px;
}

.ferramentas h1{
    text-align: center;
    color: #00ff77;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin: 15px 0px;
    text-transform: uppercase;
}

.ferramentas .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    max-width: 845px;
    margin: 0 auto;
}

.ferramentas .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    width: 170px;
    height: 210px;
    padding: 30px 40px;
    border-radius: 20px;
    transition: 0.3s ease;
    background-color: #1e271e;
    border: 3px solid #66fb61;
    color: #6efb61;
}

.ferramentas .container .card:hover{
    transform: scale(1.1);
}


.ferramentas .container .card img{
    width: 130px;
}

.projetos{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos .container{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1060;
}

.projetos .container .card{
    color: #fff;
    width: 320px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s ease-in-out;
}

.projetos .container .card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #fff;
}

.projetos .container .card h2{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #66fb61;
}

.projetos .container .card p{
    font-size: 1.4rem;
}

.projetos .container .card a{
    font-size: 1.4rem;
    color: #00ff77;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    margin-right: 10px;
}

.projetos .container .card .moldura{
    width: 297px;
    height: 200px;
    background-color: #9ea58d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos .container .card .moldura img{
    width: 100%;
    height: 100%;
}

.projetos .container .card .moldura #logoApiGeo{
    width: 90%;
    height: 70%;
}

.projetos button a {
    text-decoration: none;
    color: #000;
}